html,
    body {
        height: 100%
        width:100%;
        background: #1f2327; 
    }
    .container {
        width: 100%;
        margin: 9px 9px ;
        height: inherit;
        margin-left: -5px;    
    }

    .container .header {
        width: inherit;
        height: 35px;
        background: darkgrey;
        margin: auto;
        /*border: 1px solid black;*/
        color: #fff;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: #292e33;
        border-radius: 5px;

    }
    #text1{
        text-align: center;
        font-size: 20px;
        margin-top: -30px;
    
    }
    #text2
    {
        text-align: right;
        font-size: 18px; 
        margin-top: -30px;

          }
    .row
    {
        width: inherit;
        height: 140px;
        background: darkgrey;
        margin: auto;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: #292e33;
        margin-top: 7px;
        border-radius: 5px;
    }
    .premium
    {
        height: 435px;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: #292e33;
        margin-top: 7px;
        margin-left: -15px;
        overflow:auto;
        scroll-behavior: auto;
        font-family: sans-serif;
        color:#fff;
        scrollbar-color: #1f2327 #1f2327;
        border-radius: 5px;

    }
    #chartContainer1{
        margin-top: 10px;
        padding:20px;
        margin-bottom: 10px;
        border-radius: 5px;
         
         }
    
    #chartContainer2{
        margin-top: 10px;
        padding:20px;
        margin-bottom: 10px;
        border-radius: 5px;
        margin-top: 5px;

    }
    
    #chartContainer3{
        margin-top: 10px;
        padding:20px;
        border-radius: 5px;
         
        

    }
     #chartContainer4{
        margin-top: 10px;
        padding:20px;
        margin-bottom: 10px;
        border-radius: 5px;
        margin-top: 5px;

    }
    .livecomments
    {
        height: 435px;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: #292e33;
        margin-top: 7px;
        margin-left: -20px;
        overflow:auto;
        scroll-behavior: auto;
        font-family: sans-serif;
        color: #fff;
        scrollbar-color: #1f2327 #1f2327;
        border-radius: 5px;
        padding-left: 10px;
    }
    #livecontainer
    {
        color:#426481;
        padding-left: 5px;
        font-weight: 5px;
    }
    .livecontainer,tr{
        text-align: left;
        vertical-align: center;

        
    }
    .livecontainer,th{
        color:#426481;
        height: 30px;
        font-size: 14px;
        margin-bottom: 10px;
        vertical-align: center;
        text-align: center;
        margin-left: 20px;
        width:35%;
       }
       .livecontainer,td{
         padding-left: 20px;
         padding-top:-30px;
         margin-top: 5px;
         padding-bottom: 10px;
         font-size: 13px;
         margin-left: 30px;
    }
    
       #showdiv
       {
       margin-left: 1px;
       }
       #showdiv1
       {
        padding-left: 30px;
        margin-top: -18px;
        font-weight: bold;
        }
        #showdiv2
        {
        margin-top: 10px;
        padding-bottom: 20px;
        }
       .branch1
       {
        height: 215px;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: #292e33;
        margin-top: 7px;
        margin-left: -20px;
        margin-right: -15px;
        }
     #tableContainer
     {
       width:100%;
       color:#426481;
       padding-left: 10px; 
    }
    
     .tableContainer,th{
        color:#426481;
        font-size: 12px; 
        margin-bottom: 10px;
        vertical-align: center;
        text-align: center;
        margin-left: 30px;
        width:35%;
        background-color:#1b2e4c;
    }
    .tableContainer,td{
        color:white;
        border-bottom: 1px solid #1f2327;
        height: 30px;
        font-size: 11px;
        padding-top: 5px; 
        padding-right: -10px;
        vertical-align: left;
        text-align: left;
        margin-left: 10px;
        width:35%;

      }
    .branch2
    {
       
        height: 215px;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: #292e33;
        margin-top: 7px;
        margin-left: -20px;
        margin-right: -15px;
        
    }
    #tableContainer2{
       width:100%;
       color:#426481; 
       padding-left: 10px;
       font-weight: 5px;
    }
    .tableContainer2,tr{
      margin-top: -20px;
      height: 20px;
      margin-bottom: -5px;
    }
   


    .tableContainer2,th{
        color:#426481;
        font-size: 13px;
        vertical-align: center;
        text-align: left;
        margin-left: 5px;
        width:35%;
        padding-left: 20px;
 }
    .tableContainer2, td{
        color:white;
        border-bottom: 1px solid #1f2327;
        height: 10px;
        font-size: 12px;
        vertical-align: left;
        text-align: left;
        margin-left: 10px;
        width:30%;
        margin-bottom: -20px;
      }
    .footer{
        color:white;
        font-style:oblique;
        font-size:10px;
        text-align:left;
    }

